.header {
    width: 100%;
    height: 75vh;
    @include bgImage("/images/1.jpg");
    background-color: rgba(0,0,0,.6);
    @include flexCenter;
    color: $white;

    &__content {
        text-align: center;

        &-links a {
            text-decoration: none;
            color: $white;
            margin-left: 10px;
            font-size: 17px;
        }

        &-span {
            display: inline-block;
            height: 15px;
            width: 2px;
            background: $white;
            margin-left: 20px;
            transform: rotate(10deg);
        }

    }

    &__content-h1 {
        font-size: 75px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        font-weight: 600;
    }
} 