.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
    height: 80px;
    transition: all 0.5s linear;
    z-index: 5;

    &__content {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }

    &__left img {
        width: 50px;
        height: auto;
    }

    &__right {
        display: flex;
        list-style: none;

        & li a {
            color: $white;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            padding: 15px 7px;
            margin: 10px 15px;
            @include responsive(765px) {
                font-size: 10px;
                padding: 15px 5px;
            }
        }
    }
}